<section class="section" id="characters">
  <div class="container">
    <div class="characters_header">
      <h2 class="characters_title">Characters</h2>
      <span class="characters_line" aria-hidden="true"></span>
      <p class="characters_subtitle">Legendary guardians of the realm</p>
    </div>
    <ul class="characters_list">
      <li class="characters_item card-character" data-character-card>
        <div class="card-character_thumb">
          <picture class="card-character_pic card-character_pic--default">
            <source
              srcset="
                ./img/characters/flame-knight.png    1x,
                ./img/characters/flame-knight@2x.png 2x
              "
              type="image/png"
            />
            <img
              src="./img/characters/flame-knight.png"
              alt="The Flame Knight"
              class="card-character_img"
              loading="lazy"
              width="343"
              height="459"
            />
          </picture>

          <picture class="card-character_pic card-character_pic--active">
            <source
              srcset="
                ./img/characters/flame-knight-full.png    1x,
                ./img/characters/flame-knight-full@2x.png 2x
              "
              type="image/png"
            />
            <img
              src="./img/characters/flame-knight-full.png"
              alt="The Flame Knight"
              class="card-character_img"
              loading="lazy"
              width="343"
              height="459"
            />
          </picture>
        </div>
        <div class="card-character_content">
          <h3 class="card-character_name">The Flame Knight</h3>
          <p class="card-character_desc">
            This tank can dish out serious fire damage while soaking up hits
          </p>
        </div>
      </li>

      <li class="characters_item card-character" data-character-card>
        <div class="card-character_thumb">
          <picture class="card-character_pic card-character_pic--default">
            <source
              srcset="
                ./img/characters/shadow-archer.png    1x,
                ./img/characters/shadow-archer@2x.png 2x
              "
              type="image/png"
            />
            <img
              src="./img/characters/shadow-archer.png"
              alt="The Shadow Archer"
              class="card-character_img"
              loading="lazy"
              width="343"
              height="459"
            />
          </picture>

          <picture class="card-character_pic card-character_pic--active">
            <source
              srcset="
                ./img/characters/shadow-archer-full.png    1x,
                ./img/characters/shadow-archer-full@2x.png 2x
              "
              type="image/png"
            />
            <img
              src="./img/characters/shadow-archer-full.png"
              alt="The Shadow Archer"
              class="card-character_img"
              loading="lazy"
              width="343"
              height="459"
            />
          </picture>
        </div>
        <div class="card-character_content">
          <h3 class="card-character_name">The Shadow Archer</h3>
          <p class="card-character_desc">
            A fast ranged assassin specializing in precision attacks
          </p>
        </div>
      </li>

      <li class="characters_item card-character" data-character-card>
        <div class="card-character_thumb">
          <picture class="card-character_pic card-character_pic--default">
            <source
              srcset="
                ./img/characters/arcane-mage.png    1x,
                ./img/characters/arcane-mage@2x.png 2x
              "
              type="image/png"
            />
            <img
              src="./img/characters/arcane-mage.png"
              alt="The Arcane Mage"
              class="card-character_img"
              loading="lazy"
              width="343"
              height="459"
            />
          </picture>

          <picture class="card-character_pic card-character_pic--active">
            <source
              srcset="
                ./img/characters/arcane-mage-full.png    1x,
                ./img/characters/arcane-mage-full@2x.png 2x
              "
              type="image/png"
            />
            <img
              src="./img/characters/arcane-mage-full.png"
              alt="The Arcane Mage"
              class="card-character_img"
              loading="lazy"
              width="343"
              height="459"
            />
          </picture>
        </div>
        <div class="card-character_content">
          <h3 class="card-character_name">The Arcane Mage</h3>
          <p class="card-character_desc">
            A powerful spellcaster capable of devastating magical damage
          </p>
        </div>
      </li>

      <li class="characters_item card-character" data-character-card>
        <div class="card-character_thumb">
          <picture class="card-character_pic card-character_pic--default">
            <source
              srcset="
                ./img/characters/celestial-guardian.png    1x,
                ./img/characters/celestial-guardian@2x.png 2x
              "
              type="image/png"
            />
            <img
              src="./img/characters/celestial-guardian.png"
              alt="The Celestial Guardian"
              class="card-character_img"
              loading="lazy"
              width="343"
              height="459"
            />
          </picture>

          <picture class="card-character_pic card-character_pic--active">
            <source
              srcset="
                ./img/characters/celestial-guardian-full.png    1x,
                ./img/characters/celestial-guardian-full@2x.png 2x
              "
              type="image/png"
            />
            <img
              src="./img/characters/celestial-guardian-full.png"
              alt="The Celestial Guardian"
              class="card-character_img"
              loading="lazy"
              width="343"
              height="459"
            />
          </picture>
        </div>
        <div class="card-character_content">
          <h3 class="card-character_name">The Celestial Guardian</h3>
          <p class="card-character_desc">
            A holy protector focused on defense and team support
          </p>
        </div>
      </li>
    </ul>
  </div>
</section>
