<section class="section" id="characters">
  <div class="container">
    <div class="characters_header">
      <h2 class="characters_title">Characters</h2>
      <span class="characters_line" aria-hidden="true"></span>
      <p class="characters_subtitle">Legendary guardians of the realm</p>
    </div>
    <ul class="characters_list">
      <li class="characters_item card-character" data-character-card>
        <div class="card-character_thumb">
          <picture class="card-character_pic card-character_pic--default">
            <source
              media="(min-width: 1440px)"
              srcset="
                ./img/characters/desktop/flame-knight.webp    1x,
                ./img/characters/desktop/flame-knight@2x.webp 2x
              "
              type="image/webp"
            />

            <source
              srcset="
                ./img/characters/mobile/flame-knight.webp    1x,
                ./img/characters/mobile/flame-knight@2x.webp 2x
              "
              type="image/webp"
            />

            <img
              src="./img/characters/mobile/flame-knight.webp"
              alt="The Flame Knight"
              class="card-character_img"
              loading="lazy"
              width="343"
              height="459"
            />
          </picture>

          <picture class="card-character_pic card-character_pic--active">
            <source
              media="(min-width: 1440px)"
              srcset="
                ./img/characters/desktop/flame-knight-full.webp    1x,
                ./img/characters/desktop/flame-knight-full@2x.webp 2x
              "
              type="image/webp"
            />

            <source
              srcset="
                ./img/characters/mobile/flame-knight-full.webp    1x,
                ./img/characters/mobile/flame-knight-full@2x.webp 2x
              "
              type="image/webp"
            />

            <img
              src="./img/characters/mobile/flame-knight-full.webp"
              alt="The Flame Knight"
              class="card-character_img"
              loading="lazy"
              width="343"
              height="459"
            />
          </picture>
        </div>
        <div class="card-character_content">
          <h3 class="card-character_name">The Flame Knight</h3>
          <p class="card-character_desc">
            This tank can dish out serious fire damage while soaking up hits
          </p>
        </div>
      </li>

      <li class="characters_item card-character" data-character-card>
        <div class="card-character_thumb">
          <picture class="card-character_pic card-character_pic--default">
            <source
              media="(min-width: 1440px)"
              srcset="
                ./img/characters/desktop/shadow-archer.webp    1x,
                ./img/characters/desktop/shadow-archer@2x.webp 2x
              "
              type="image/webp"
            />

            <source
              srcset="
                ./img/characters/mobile/shadow-archer.webp    1x,
                ./img/characters/mobile/shadow-archer@2x.webp 2x
              "
              type="image/webp"
            />

            <img
              src="./img/characters/mobile/shadow-archer.webp"
              alt="The Shadow Archer"
              class="card-character_img"
              loading="lazy"
              width="343"
              height="459"
            />
          </picture>

          <picture class="card-character_pic card-character_pic--active">
            <source
              media="(min-width: 1440px)"
              srcset="
                ./img/characters/desktop/shadow-archer-full.webp    1x,
                ./img/characters/desktop/shadow-archer-full@2x.webp 2x
              "
              type="image/webp"
            />

            <source
              srcset="
                ./img/characters/mobile/shadow-archer-full.webp    1x,
                ./img/characters/mobile/shadow-archer-full@2x.webp 2x
              "
              type="image/webp"
            />

            <img
              src="./img/characters/mobile/shadow-archer-full.webp"
              alt="The Shadow Archer"
              class="card-character_img"
              loading="lazy"
              width="343"
              height="459"
            />
          </picture>
        </div>
        <div class="card-character_content">
          <h3 class="card-character_name">The Shadow Archer</h3>
          <p class="card-character_desc">
            A fast ranged assassin specializing in precision attacks
          </p>
        </div>
      </li>

      <li class="characters_item card-character" data-character-card>
        <div class="card-character_thumb">
          <picture class="card-character_pic card-character_pic--default">
            <source
              media="(min-width: 1440px)"
              srcset="
                ./img/characters/desktop/arcane-mage.webp    1x,
                ./img/characters/desktop/arcane-mage@2x.webp 2x
              "
              type="image/webp"
            />

            <source
              srcset="
                ./img/characters/mobile/arcane-mage.webp    1x,
                ./img/characters/mobile/arcane-mage@2x.webp 2x
              "
              type="image/webp"
            />

            <img
              src="./img/characters/mobile/arcane-mage.webp"
              alt="The Arcane Mage"
              class="card-character_img"
              loading="lazy"
              width="343"
              height="459"
            />
          </picture>

          <picture class="card-character_pic card-character_pic--active">
            <source
              media="(min-width: 1440px)"
              srcset="
                ./img/characters/desktop/arcane-mage-full.webp    1x,
                ./img/characters/desktop/arcane-mage-full@2x.webp 2x
              "
              type="image/webp"
            />

            <source
              srcset="
                ./img/characters/mobile/arcane-mage-full.webp    1x,
                ./img/characters/mobile/arcane-mage-full@2x.webp 2x
              "
              type="image/webp"
            />

            <img
              src="./img/characters/mobile/arcane-mage-full.webp"
              alt="The Arcane Mage"
              class="card-character_img"
              loading="lazy"
              width="343"
              height="459"
            />
          </picture>
        </div>
        <div class="card-character_content">
          <h3 class="card-character_name">The Arcane Mage</h3>
          <p class="card-character_desc">
            A powerful spellcaster capable of devastating magical damage
          </p>
        </div>
      </li>

      <li class="characters_item card-character" data-character-card>
        <div class="card-character_thumb">
          <picture class="card-character_pic card-character_pic--default">
            <source
              media="(min-width: 1440px)"
              srcset="
                ./img/characters/desktop/celestial-guardian.webp    1x,
                ./img/characters/desktop/celestial-guardian@2x.webp 2x
              "
              type="image/webp"
            />

            <source
              srcset="
                ./img/characters/mobile/celestial-guardian.webp    1x,
                ./img/characters/mobile/celestial-guardian@2x.webp 2x
              "
              type="image/webp"
            />

            <img
              src="./img/characters/mobile/celestial-guardian.webp"
              alt="The Celestial Guardian"
              class="card-character_img"
              loading="lazy"
              width="343"
              height="459"
            />
          </picture>

          <picture class="card-character_pic card-character_pic--active">
            <source
              media="(min-width: 1440px)"
              srcset="
                ./img/characters/desktop/celestial-guardian-full.webp    1x,
                ./img/characters/desktop/celestial-guardian-full@2x.webp 2x
              "
              type="image/webp"
            />

            <source
              srcset="
                ./img/characters/mobile/celestial-guardian-full.webp    1x,
                ./img/characters/mobile/celestial-guardian-full@2x.webp 2x
              "
              type="image/webp"
            />

            <img
              src="./img/characters/mobile/celestial-guardian-full.webp"
              alt="The Celestial Guardian"
              class="card-character_img"
              loading="lazy"
              width="343"
              height="459"
            />
          </picture>
        </div>
        <div class="card-character_content">
          <h3 class="card-character_name">The Celestial Guardian</h3>
          <p class="card-character_desc">
            A holy protector focused on defense and team support
          </p>
        </div>
      </li>
    </ul>
  </div>
</section>
