<section class="section" id="contactUs">
  <div class="container">
    <div class="join_card">
      <h2 class="join_title">Ready to Build the Ultimate Guild?</h2>

      <a href="mailto:Info@Wideon.It.Com" class="join_link">
        <svg
          class="join_icon"
          width="24"
          height="24"
          fill="currentColor"
          aria-hidden="true"
        >
          <use href="/img/sprite.svg#icon-mail"></use>
        </svg>
        Info@Wideon.It.Com
      </a>
    </div>
  </div>
</section>
