<section class="section" id="gallery">
  <div class="container">
    <h2 class="gallery_title">Gallery</h2>
    <span class="gallery_line" aria-hidden="true"></span>
    <ul class="gallery_list">
      <li class="gallery_item">
        <picture>
          <source
            srcset="
              ./img/gallery/Card-one.png    1x,
              ./img/gallery/Card-one@2x.png 2x
            "
            type="image/png"
          />
          <img
            src="./img/gallery/Card-one.png"
            alt="Gameplay screenshot 1"
            class="gallery_img"
            loading="lazy"
            width="343"
            height="192"
          />
        </picture>
      </li>

      <li class="gallery_item">
        <picture>
          <source
            srcset="
              ./img/gallery/Card-two.png    1x,
              ./img/gallery/Card-two@2x.png 2x
            "
            type="image/png"
          />
          <img
            src="./img/gallery/Card-two.png"
            alt="Gameplay screenshot 2"
            class="gallery_img"
            loading="lazy"
            width="343"
            height="192"
          />
        </picture>
      </li>

      <li class="gallery_item">
        <picture>
          <source
            srcset="
              ./img/gallery/Card-three.png    1x,
              ./img/gallery/Card-three@2x.png 2x
            "
            type="image/png"
          />
          <img
            src="./img/gallery/Card-three.png"
            alt="Gameplay screenshot 3"
            class="gallery_img"
            loading="lazy"
            width="343"
            height="192"
          />
        </picture>
      </li>

      <li class="gallery_item">
        <picture>
          <source
            srcset="
              ./img/gallery/Card-four.png    1x,
              ./img/gallery/Card-four@2x.png 2x
            "
            type="image/png"
          />
          <img
            src="./img/gallery/Card-four.png"
            alt="Gameplay screenshot 4"
            class="gallery_img"
            loading="lazy"
            width="343"
            height="192"
          />
        </picture>
      </li>
    </ul>
  </div>
</section>
