<section class="section" id="gallery">
  <div class="container">
    <h2 class="gallery_title">Gallery</h2>
    <span class="gallery_line" aria-hidden="true"></span>
    <ul class="gallery_list">
      <li class="gallery_item">
        <a
          data-id="card-1"
          data-fancybox="gallery"
          data-caption="Gameplay screenshot 1"
        >
          <picture>
            <source
              media="(min-width: 1440px)"
              srcset="
                ./img/gallery/desktop/Card-one-desktop.webp    1x,
                ./img/gallery/desktop/Card-one-desktop@2x.webp 2x
              "
              type="image/webp"
            />

            <source
              srcset="
                ./img/gallery/mobile/Card-one-mobile.webp    1x,
                ./img/gallery/mobile/Card-one-mobile@2x.webp 2x
              "
              type="image/webp"
            />

            <img
              src="./img/gallery/mobile/Card-one-mobile.webp"
              alt="Gameplay screenshot 1"
              class="gallery_img"
              loading="lazy"
              width="343"
              height="192"
            />
          </picture>
        </a>
      </li>

      <li class="gallery_item">
        <a
          data-id="card-2"
          data-fancybox="gallery"
          data-caption="Gameplay screenshot 2"
        >
          <picture>
            <source
              media="(min-width: 1440px)"
              srcset="
                ./img/gallery/desktop/Card-two-desktop.webp    1x,
                ./img/gallery/desktop/Card-two-desktop@2x.webp 2x
              "
              type="image/webp"
            />

            <source
              srcset="
                ./img/gallery/mobile/Card-two-mobile.webp    1x,
                ./img/gallery/mobile/Card-two-mobile@2x.webp 2x
              "
              type="image/webp"
            />

            <img
              src="./img/gallery/mobile/Card-two-mobile.webp"
              alt="Gameplay screenshot 2"
              class="gallery_img"
              loading="lazy"
              width="343"
              height="192"
            />
          </picture>
        </a>
      </li>

      <li class="gallery_item">
        <a
          data-id="card-3"
          data-fancybox="gallery"
          data-caption="Gameplay screenshot 3"
        >
          <picture>
            <source
              media="(min-width: 1440px)"
              srcset="
                ./img/gallery/desktop/Card-four-desktop.webp    1x,
                ./img/gallery/desktop/Card-four-desktop@2x.webp 2x
              "
              type="image/webp"
            />

            <source
              srcset="
                ./img/gallery/mobile/Card-four-mobile.webp    1x,
                ./img/gallery/mobile/Card-four-mobile@2x.webp 2x
              "
              type="image/webp"
            />

            <img
              src="./img/gallery/mobile/Card-four-mobile.webp"
              alt="Gameplay screenshot 3"
              class="gallery_img"
              loading="lazy"
              width="343"
              height="192"
            />
          </picture>
        </a>
      </li>

      <li class="gallery_item">
        <a
          data-id="card-4"
          data-fancybox="gallery"
          data-caption="Gameplay screenshot 4"
        >
          <picture>
            <source
              media="(min-width: 1440px)"
              srcset="
                ./img/gallery/desktop/Card-three-desktop.webp    1x,
                ./img/gallery/desktop/Card-three-desktop@2x.webp 2x
              "
              type="image/webp"
            />

            <source
              srcset="
                ./img/gallery/mobile/Card-three-mobile.webp    1x,
                ./img/gallery/mobile/Card-three-mobile@2x.webp 2x
              "
              type="image/webp"
            />

            <img
              src="./img/gallery/mobile/Card-three-mobile.webp"
              alt="Gameplay screenshot 4"
              class="gallery_img"
              loading="lazy"
              width="343"
              height="192"
            />
          </picture>
        </a>
      </li>
    </ul>
  </div>
</section>
