<section class="section" id="gallery">
  <div class="container">
    <h2 class="gallery_title">Gallery</h2>
    <span class="gallery_line" aria-hidden="true"></span>
    <ul class="gallery_list">
      <li class="gallery_item">
        <picture>
          <source
            media="(min-width: 1440px)"
            srcset="
              ./img/gallery/desktop/Card-one-desktop.png    1x,
              ./img/gallery/desktop/Card-one-desktop@2x.png 2x
            "
            type="image/png"
          />

          <source
            srcset="
              ./img/gallery/mobile/Card-one-mobile.png    1x,
              ./img/gallery/mobile/Card-one-mobile@2x.png 2x
            "
            type="image/png"
          />

          <img
            src="./img/gallery/mobile/Card-one-mobile.png"
            alt="Gameplay screenshot 1"
            class="gallery_img"
            loading="lazy"
            width="343"
            height="192"
          />
        </picture>
      </li>

      <li class="gallery_item">
        <picture>
          <source
            media="(min-width: 1440px)"
            srcset="
              ./img/gallery/desktop/Card-two-desktop.png    1x,
              ./img/gallery/desktop/Card-two-desktop@2x.png 2x
            "
            type="image/png"
          />

          <source
            srcset="
              ./img/gallery/mobile/Card-two-mobile.png    1x,
              ./img/gallery/mobile/Card-two-mobile@2x.png 2x
            "
            type="image/png"
          />

          <img
            src="./img/gallery/mobile/Card-two-mobile.png"
            alt="Gameplay screenshot 2"
            class="gallery_img"
            loading="lazy"
            width="343"
            height="192"
          />
        </picture>
      </li>

      <li class="gallery_item">
        <picture>
          <source
            media="(min-width: 1440px)"
            srcset="
              ./img/gallery/desktop/Card-three-desktop.png    1x,
              ./img/gallery/desktop/Card-three-desktop@2x.png 2x
            "
            type="image/png"
          />

          <source
            srcset="
              ./img/gallery/mobile/Card-three-mobile.png    1x,
              ./img/gallery/mobile/Card-three-mobile@2x.png 2x
            "
            type="image/png"
          />

          <img
            src="./img/gallery/mobile/Card-three-mobile.png"
            alt="Gameplay screenshot 3"
            class="gallery_img"
            loading="lazy"
            width="343"
            height="192"
          />
        </picture>
      </li>

      <li class="gallery_item">
        <picture>
          <source
            media="(min-width: 1440px)"
            srcset="
              ./img/gallery/desktop/Card-four-desktop.png    1x,
              ./img/gallery/desktop/Card-four-desktop@2x.png 2x
            "
            type="image/png"
          />

          <source
            srcset="
              ./img/gallery/mobile/Card-four-mobile.png    1x,
              ./img/gallery/mobile/Card-four-mobile@2x.png 2x
            "
            type="image/png"
          />

          <img
            src="./img/gallery/mobile/Card-four-mobile.png"
            alt="Gameplay screenshot 4"
            class="gallery_img"
            loading="lazy"
            width="343"
            height="192"
          />
        </picture>
      </li>
    </ul>
  </div>
</section>
