<header class="page-header">
  <div class="container">
    <div class="header-container">
      <a class="header-logo" href="./index.html" rel="logo"
        >Guild of Guardians</a
      >
      <nav class="header-nav">
        <ul class="header-nav-list">
          <li class="header-nav-item">
            <a class="header-nav-link" href="#about">About the Game</a>
          </li>
          <li class="header-nav-item">
            <a class="header-nav-link" href="#guide-section">How to Play</a>
          </li>
          <li class="header-nav-item">
            <a class="header-nav-link" href="#characters">Characters</a>
          </li>
          <li class="header-nav-item">
            <a class="header-nav-link" href="#gallery">Gallery</a>
          </li>
          <li class="header-nav-item">
            <a class="header-nav-link" href="#contactUs">Contact</a>
          </li>
        </ul>
      </nav>
      <div class="header-actions">
        <a
          href="https://play.google.com/store/apps/details?id=com.immutable.guildofguardians"
          target="_blank"
          rel="noopener noreferrer"
          class="header-button"
          >PLAY NOW</a
        >
        <button
          class="burger-button"
          type="button"
          data-action="open"
          aria-label="Open navigation menu"
        >
          <svg class="burger-icon" width="24" height="24">
            <use href="./img/sprite.svg#icon-burger"></use>
          </svg>
        </button>
      </div>
    </div>
  </div>
</header>
