<header class="page-header">
  <div class="container header-container">
    <nav class="header-nav">
      <a class="header-logo" href="./index.html" rel="logo"
        >Guild of Guardians</a
      >
      <ul class="header-nav-list">
        <li class="header-nav-item">
          <a class="header-nav-link" href="./index.html">About the Game</a>
        </li>
        <li class="header-nav-item">
          <a class="header-nav-link" href="./index.html">How to Play</a>
        </li>
        <li class="header-nav-item">
          <a class="header-nav-link" href="./index.html">Characters</a>
        </li>
        <li class="header-nav-item">
          <a class="header-nav-link" href="./index.html">Gallery</a>
        </li>
        <li class="header-nav-item">
          <a class="header-nav-link" href="./index.html">Contact</a>
        </li>
      </ul>
    </nav>

    <button class="burger-button" type="button">
      <svg class="burger-icon" width="24" height="24">
        <use href="./img/sprite.svg#icon-burger"></use>
      </svg>
    </button>
  </div>
</header>
