<div class="container">
  <div class="navbar">
    <div class="navbar-nav-container">
      <ul class="navbar-list">
        <li class="navbar-item">
          <a class="navbar-link" href="./index.html">About the Game</a>
        </li>
        <li class="navbar-item">
          <a class="navbar-link" href="./index.html">How to Play</a>
        </li>
        <li class="navbar-item">
          <a class="navbar-link" href="./index.html">Characters</a>
        </li>
        <li class="navbar-item">
          <a class="navbar-link" href="./index.html">Gallery</a>
        </li>
        <li class="navbar-item">
          <a class="navbar-link" href="./index.html">Contact</a>
        </li>
      </ul>
    </div>
  </div>
</div>
