:root {
  --font-main: 'Inter', sans-serif;
  --font-accent-decor: 'Cinzel Decorative', serif;
  --font-accent: 'Cinzel', serif;
  --font-lato: 'Lato', sans-serif;
  --font-roboto: 'Roboto', sans-serif;

  --weight-light: 300;
  --weight-regular: 400;
  --weight-medium: 500;
  --weight-semibold: 600;
  --weight-bold: 700;

  font-family: var(--font-main);
  font-size: 16px;
  line-height: 1.5;
  font-weight: var(--weight-regular);

  color: #242424;
  background-color: #ffffff;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

body {
  display: flex;
  flex-direction: column;
  width: 100%;
  min-height: 100vh;
  margin: 0;
}

main {
  flex-grow: 1;
}

main:has(.back-link) {
  text-align: center;
}
