.characters_header {
  display: flex;
  flex-direction: column;
  margin-bottom: 32px;
}

.characters_title {
  font-family: var(--font-accent-decor);
  font-weight: var(--weight-bold);
  font-size: 28px;
  margin-bottom: 8px;
}

.characters_line {
  display: block;
  width: 207px;
  border: 2px solid var(--color-accent);
  margin-bottom: 16px;
}

.characters_subtitle {
  font-weight: var(--weight-bold);
  font-size: 18px;
  line-height: 1.5;
  color: var(--color-text-muted);
}

.characters_list {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.card-character {
  width: 100%;
  max-width: 343px;
  height: 459px;
  background-color: var(--color-card-bg);
  border-radius: 12px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

.card-character_thumb {
  width: 100%;
  flex-grow: 1;
  overflow: hidden;
}

.card-character_img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 12px 12px 0 0;
}

.card-character_content {
  padding: 16px 20px;
  background: rgba(0, 0, 0, 0.4);
}

.card-character_name {
  font-size: 20px;
  line-height: 1.4;
  font-weight: var(--weight-semibold);
  margin-bottom: 8px;
}

.card-character_desc {
  font-size: 16px;
  font-weight: var(--weight-regular);
  color: var(--color-text-muted);
  max-width: 283px;
}

@media only screen and (min-width: 1440px) {
  .characters_header {
    margin-bottom: 48px;
  }

  .characters_title {
    font-size: 32px;
    margin-bottom: 12px;
  }

  .characters_line {
    margin-bottom: 32px;
    width: 232px;
  }

  .characters_subtitle {
    font-size: 20px;
    line-height: 1.4;
  }

  .characters_list {
    flex-direction: row;
    justify-content: center;
    gap: 24px;
  }

  .card-character {
    width: 282px;
    height: 404px;
    max-width: none;
  }

  .card-character_thumb {
    width: 100%;
    height: 290px;
    flex-grow: 0;
  }

  .card-character_content {
    flex-grow: 1;
  }

  .card-character_desc {
    max-width: none;
    font-size: 14px;
  }
}
